/* You can add global styles to this file, and also import other style files */
h1,h2,h3 {
    font-family: 'Montserrat', sans-serif;
}

.btn-custom {
    background: #530542;
    color: #fff;
}

.btn-custom:hover {
    background: transparent;
    color: #530542;
    border-color: #530542;
}